.chat {
  height: 100vh;
  width: 100%;
}
.content {
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  position: relative;
}
.address-to {
  width: 100%;
  height: 3rem;
  border-bottom: 1px #ddd solid;
  margin: 0;
}
.message-content {
  margin: 0;
  height: calc(100vh - 3rem - 3.75rem);
}
.message-input {
  width: 100%;
  height: 3.75rem;
  margin: 0;
  /* border-top: 1px #ddd solid; */
}
.icon-wrapper {
  width: 2.25rem;
  height: 2.25rem;
  /* background-color: aqua; */
}
.icon-wrapper svg {
  font-size: 1rem;
}
.input-wrapper {
  width: 76%;
}
.input-wrapper textarea::-webkit-scrollbar {
  display: none;
}
.input-wrapper textarea {
  width: 100%;
  height: 2.25rem;
  background: #f0f0f0;
  border-radius: 36px;
  border: none;
  padding: 0.25rem 0.75rem;
  overflow-y: auto;
  resize: none;
}
.input-wrapper textarea:focus {
  outline: none;
}
.send-btn {
  width: 6%;
}
/* .search-input {
} */
.search-input input {
  width: 100%;
  height: 2.25rem;
  background: #f0f0f0;
  border-radius: 36px;
  border: none;
  padding: 0 0.75rem;
}
.search-input input:focus {
  outline: none;
}
.userOnlineImg {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.1rem;
  background-color: #f0f0f0;
}
.userOnlineImg img {
  width: 100%;
  border-radius: 50%;
}
.user-online-display {
  height: 60px;
  width: fit-content;
}
::-webkit-scrollbar-horizontal {
  display: none;
}
.mess-content {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  overflow: hidden;
  padding: 0 1.25rem;
  overflow-y: auto;
}
.mess {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0.5rem 0;
  border-radius: 18px;
  width: fit-content;
  max-width: 650px;
  word-wrap: break-all;
  word-break: break-word;
}
.send-mess {
  display: flex;
  justify-content: flex-end;
}
.received-mess {
  display: flex;
  justify-content: flex-start;
}
.send-mess .mess {
  background-color: var(--bs-gray-700);
  color: white;
}
.received-mess .mess {
  background-color: var(--bs-gray-200);
}
.relatedChat {
  height: 75%;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  overflow-y: auto;
}
.chatRoomTag {
  /* border-bottom: 1px solid #ddd; */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
  border-radius: 0.5rem;
}
.chatRoomTag img {
  border-radius: 50%;
}
.chatRoomTag h5 {
  /* color: var(--bs-black-200); */
  font-size: 1.2rem;
}
.chat-list {
  height: 100vh;
}
