.home {
  padding: 2.5rem 0;
  padding-bottom: 8rem;
}
.home h1 {
  background: linear-gradient(
    83.78deg,
    #0088ff -6.9%,
    #a033ff 28.26%,
    #ff5c87 78.98%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4.25rem;
}
.banner p {
  font-size: 1.75rem;
  color: var(--bs-gray);
}
.banner button {
  background: #0088ff;
  border: #0088ff 1px solid;
  transition: background 0.5s ease-in-out;
}
.banner button:hover {
  background: linear-gradient(
    83.78deg,
    #0088ff -6.9%,
    #a033ff 28.26%,
    #ff5c87 78.98%
  );
}
