body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-gray {
  color: #999999;
}
.hide {
  display: none;
}
.hover:hover {
  cursor: pointer;
}
.hoverr:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.hoverr:active {
  background-color: #ddd;
}
/* .t::-webkit-scrollbar-horizontal {
  display: none;
}
.t::-webkit-scrollbar-track {
  background-color: red;
} */
